language: php

sudo: false

php:
  - 7.1

env:
  global:
    - DEFAULT=0

matrix:
  include:
    - php: 7.1
      env: PHPCS=1 DEFAULT=0

  fast_finish: true

before_script:
  - composer install --prefer-dist --no-interaction

script:
  - sh -c "if [ '$DEFAULT' = '1' ]; then vendor/bin/phpunit; fi"
  - sh -c "if [ '$PHPCS' = '1' ]; then composer cs-check . ; fi"

notifications:
  email: false
