parameters:
    level: 6
    paths:
        - Spryker/Sniffs/
        - SprykerStrict/Sniffs/
        - GlueStreamSpecific/Sniffs/
    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    checkMissingIterableValueType: false
