<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Spryker CodeSniffer Test Suite">
            <file>./vendor/squizlabs/php_codesniffer/tests/AllTests.php</file>
        </testsuite>
    </testsuites>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">./Spryker/Sniffs</directory>
        </whitelist>
    </filter>
</phpunit>
