<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="spryker-code-sniffer">
            <directory>tests/Spryker/</directory>
        </testsuite>
    </testsuites>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">Spryker/Sniffs/</directory>
            <directory suffix=".php">SprykerStrict/Sniffs/</directory>
            <directory suffix=".php">GlueStreamSpecific/Sniffs/</directory>
        </whitelist>
    </filter>
</phpunit>
